<div class="main-content relaive-top">
    <div class="card-title justify-content-center" [ngSwitch] = "datesToShow?.length">
      <h3 style="text-align: center;">Event <b>"{{manifestation?.name | uppercase }}"</b> is held on
        <span *ngSwitchCase="1"><b>{{datesToShow | date:'dd/MM/yyyy HH:mm'}}</b></span>
        <span *ngSwitchCase="2"><b>{{datesToShow[0] | date:'dd/MM/yyyy'}} - {{datesToShow[1] | date:'dd/MM/yyyy'}}</b> </span>
        <span *ngSwitchDefault>Unknown</span>
        in <b>{{manifestation?.location.name}}, {{manifestation?.location.address}}</b>
      </h3>
    </div>
    <div class="card justify-content-center">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <button class="btn btn-primary" [ngClass]="{'clicked': dailySelected}" (click)="dailyClick()">Daily</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary" [ngClass]="{'clicked': weeklySelected}" (click)="weeklyClick()">Weekly</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary" [ngClass]="{'clicked': monthlySelected}" (click)="monthlyClick()">Monthly</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="justify-content-top">
        <div class="row justify-content-center">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <label>From:<pre> </pre></label>
                  <input class="form-control" [readonly]="true" placeholder="yyyy-mm-dd"
                       name="dps" [(ngModel)]="startDate" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button name="start-date-button" class="btn btn-sm btn-info-outline" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <form class="form-inline" >
              <div class="form-group">
                <div class="input-group">
                  <label>To:<pre> </pre></label>
                  <input class="form-control" [readonly]="true" placeholder="yyyy-mm-dd"
                       name="dpe" [(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker">
                  <div class="input-group-append">
                    <button name="end-date-button" class="btn btn-sm btn-info-outline" (click)="d2.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3 justify-content-top" style="margin-bottom: 20px; align-self: right;">
                    <button class="btn btn-round" name="get-report" (click)="getReport()" [disabled]="!(startDate && endDate)" type="button">Get report</button>
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <app-chart [labels] = "labels" [data]= "data"></app-chart>
        </div>
      </div> 
    </div>
  </div>
  