svg {
    margin-top: 10px;
}

.sm-cat-object {
    fill: moccasin;
    stroke: none;
}

.sm-shape-object {
    fill: gray;
}

.sm-shape-ga, .sm-shape-underlay {
    fill: #fff;
    stroke: none;
}

.sm-line {
    fill: none;
    stroke: #ccc;
    stroke-width: 4;
}

.sm-label {
    fill: rgba(0, 0, 0, 0.5);
    font-size: 14;
    font-family: Arial, Helvetica, sans-serif;
    text-anchor: middle;
}

.sm-text {
    fill: rgba(0, 0, 0, 0.5);
    font-size: 12;
    font-family: Arial, Helvetica, sans-serif;
    text-anchor: middle;
}

.sm-table {
    fill: #fff;
    stroke: #ccc;
    stroke-width: 1;
}

.false {
    fill: #3cb1a3;
}

#sm-row-labels text {
    fill: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-anchor: middle;
}

circle.false:hover {
    fill: red;
}

circle.true {
    fill: rgb(173, 168, 168);
}

rect#false:hover { 
    fill:red;
}

button#reservation, button#buying {
    padding: 10px 24px;
    font-size: 14px;
    margin-right: 8px;
    margin-top: 10px;
}

div.buttons {
    position: absolute;
    right: 2%;
    bottom: 10%;
}

div.table-responsive {
    position: absolute;
    top: 10%;
    left: 61%;
}

div.dates {
    position: absolute;
    top: 10%;
    left: 85%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

button.remove {
    width: 20px;
    height: 35px;
    font-size:10px;
} 

h4 { 
    margin-top: 10px;
}

title {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 8px;
    display: inline-block;
    color: green;
    border: 8px solid transparent;	
    border-bottom: 8px solid #000;
  }

  circle.success {
      fill: red;
  }

  input[type="radio"] {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
                      -webkit-linear-gradient(90deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
    border-radius: 10px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8),
                0 0 0 1px hsla(0,0%,0%,.6),
                0 2px 3px hsla(0,0%,0%,.6),
                0 4px 3px hsla(0,0%,0%,.4),
                0 6px 6px hsla(0,0%,0%,.2),
                0 10px 6px hsla(0,0%,0%,.2);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 5px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
}
input[type="radio"]:after {
    background-color: #444;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                0 1px 1px hsla(0,0%,100%,.8);
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
}
input[type="radio"]:checked:after {
    background-color: #f66;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                inset 0 2px 2px hsla(0,0%,100%,.4),
                0 1px 1px hsla(0,0%,100%,.8),
                0 0 2px 2px hsla(0,70%,70%,.4);
}
