<div class = "container">
    <div class = "row">
        <div class="col-md-7">
            <svg width="650" height="600" viewBox="0 0 70 60">
                
                <g *ngFor = "let category of categories">
                    
                    <g *ngIf = "category.stage == false">
                        <rect class = "sm-cat-object" [attr.x] = "category.xCoordinate" [attr.y] = "category.yCoordinate"
                        rx = "2" [attr.width] = category.width [attr.height] = category.height [attr.id] = category.isEnumerable (click) = "clickCategory(category)">
                            <title>{{category.name}}</title>
                        </rect>
                    </g>

                    <g *ngIf = "category.stage == true">
                        <rect class = "sm-shape-object" [attr.x] = "category.xCoordinate" [attr.y] = "category.yCoordinate"
                        rx = "2" [attr.width] = category.width [attr.height] = category.height (click) = "clickCategory(category)">
                            <title>{{category.name}}</title>
                        </rect>
                    </g>
                    

                    <g *ngFor = "let seat of category.seats">
                        <circle *ngIf = "seat.row != -1" [id] = "seat.seatId" [attr.class] = seat.reserved [attr.r] = category.distance [attr.cx] = seat.cx 
                        [attr.cy] = seat.cy (click) = "clickEvent(seat)">
                            <title>{{seat.categoryName}} Row: {{seat.row}} Column: {{seat.column}} Price: {{category.ticketPrice | currency}}</title>
                        </circle>
                     </g>
                </g>
            </svg>
        </div>
            <div class="col-md-3">
                <ng-container *ngIf="tableToShow; then tableCat; else categoriesTable">

                </ng-container>
                <ng-template #tableCat>
                    <div>
                        <table>
                            <caption>Seats for reservation</caption>
                            <thead class=" text-primary">
                                <th>
                                    Category
                                </th>
                                <th>
                                    Row
                                </th>
                                <th>
                                    Column
                                </th>
                                <th>
                                    Price
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let element of seatsForReservation">
                                
                                    <td >{{element.categoryName}}</td>
                                    <ng-container *ngIf="element.row != -1; then enumerable; else parterre">
                                    </ng-container>
                                    <ng-template #enumerable>
                                        <td>{{element.row}}</td>
                                        <td>{{element.column}}</td>
                                    </ng-template>
                                    <ng-template #parterre>
                                        <td>-</td>
                                        <td>-</td>
                                    </ng-template>
                                    <td>{{element.ticketPrice | currency}}</td>
                                </tr>

                                <tr><td>Total price:</td><td></td><td></td><td>{{totalPrice | currency}}</td></tr>    
                            </tbody>
                        </table>
                        <button id = "reservation" mat-raised-button color="primary" (click) = "reserveSeats()">Reserve</button>
                        <button id = "buying" mat-raised-button color="primary" (click) = "buyTickets()">Buy</button>
                        <br>
                    </div>
                </ng-template>

                <ng-template #categoriesTable>
                    <div>
                        <table>
                            <caption>Categories</caption>
                            <thead class=" text-primary">
                                <th>
                                    Categories
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Num of seats
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let categ of categories">
                                    <ng-container *ngIf="categ.stage == false">
                                        <td>{{categ.name}}</td>
                                        <td>{{categ.ticketPrice | currency}}</td>
                                        <td>{{categ.availableSeats?.length}}</td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </ng-template>
                
                
        </div>
        <div class = "col-md-2">
            <form>
                <ng-container *ngFor="let date of dates">
                <h5> <input type="radio" name="radAnswer" (click)="clickDate(date)" [checked]="date === dates[0]" > {{date | date:'dd/MM/yyyy HH:mm'}} <br><br> </h5>
                </ng-container>
                <ng-container *ngIf="dates.length>1">
                    <h5> <input type="radio" name="radAnswer" (click)="clickFestivalTicket()"> Festival ticket <br><br> </h5>
                </ng-container>
            </form>
        </div>
    </div>
</div>

