<div class="main-content">
	<button *ngIf="roleAdmin()" class="btn btn-success" title="New" routerLink="/manifestations/new"><i
			class="material-icons">add</i></button>
	
	<mat-drawer-container [hasBackdrop]="true">
		<mat-drawer #drawer [mode]="over" style="padding:20px; min-height: 250px">
			<form (ngSubmit)="onSubmitFilter()">
				<mat-form-field>
					<mat-label>Locations</mat-label>
					<mat-select [formControl]="locationsControl" multiple>
						<mat-option *ngFor="let location of locations; let i = index" [value]="location.address" [id]="'location'+i">{{location.name}}, {{location.address}}</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Categories</mat-label>
					<mat-select [formControl]="categoriesControl" multiple>
						<mat-option *ngFor="let category of categories; let i = index" [value]="category" [id]="'category'+i">{{category}}</mat-option>
					</mat-select>
				</mat-form-field>
				<button id="apply-filters" type="submit" class="btn btn-primary">Apply</button>
			</form>
		</mat-drawer>
		<mat-drawer-content>
			<div class="containter-fluid" style="width: 97%; min-height: 250px;">
				<button id="show-filters" *ngIf="count != 0 || hasParams()" mat-raised-button class="btn btn-default" (click)="drawer.toggle()">Show Filters</button>
				
				<div class="row">
					<div class="col-sm-4 col-lg-3" *ngFor="let manifestation of manifestations">
						<div class="card">
							<a [routerLink]="['/manifestations', manifestation.id]">
								<img class="card-img-top img-responsive" [src]="manifestation.image" alt="Cover photo">
							</a>
							<div class="card-body">
								<a [routerLink]="['/manifestations', manifestation.id]">
									<div>
										<h4 class="card-title">{{manifestation.name}}</h4>
										<p class="card-text">{{manifestation.startDate | date:'dd.MM.yyyy'}}
											<span
												*ngIf="(manifestation.startDate | date:'dd.MM.yyyy') != (manifestation.endDate | date:'dd.MM.yyyy')">
												- {{manifestation.endDate | date:'dd.MM.yyyy'}}</span></p>
										<p class="card-text">{{manifestation.description | shorten: 100}}</p>
									</div>
								</a>
								<div *ngIf="roleRegistered()">
									<button class="btn btn-primary" [routerLink]="['/manifestations', manifestation.id]"
										title="Book a ticket"><i class="material-icons">
											event
										</i></button>
								</div>
								<div *ngIf="roleAdmin()">
									<button class="btn btn-info" [routerLink]="['/manifestations/edit', manifestation.id]"
										title="Edit"><i class="material-icons">edit</i></button>
									<button class="btn btn-danger" (click)="onCancel(manifestation.id)" title="Cancel"><i
											class="material-icons">cancel</i></button>
									<button class="btn btn-dark" [routerLink]="['/reports/manifestation', manifestation.id]"
										title="Reports">
										<i class="material-icons">bar_chart</i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="count == 0" style="text-align: center;">
					<h4 class = "empty-list" *ngIf="!hasParams()">There are no events yet.</h4>
					<h4 class = "empty-list" *ngIf="hasParams()">There are no matching events.</h4>
				</div>
				<mat-paginator *ngIf="count > 0" [length]="count" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
					(page)="pageEvent = getManifestations($event)">
				</mat-paginator>
			</div>
		</mat-drawer-content>
	</mat-drawer-container>
</div>