<div class="main-content">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h3>Edit location</h3>
				</div>
				<div class="card-body">
					<form (ngSubmit)="onSubmit()" [formGroup]="form">
						<mat-form-field>
							<input matInput placeholder="Name" formControlName="name" required>
						</mat-form-field>

						<mat-form-field>
							<input matInput placeholder="Address" formControlName="address" required>
						</mat-form-field>

						<mat-form-field>
							<input type="number" min="-90" max="90" matInput placeholder="Latitude"
								formControlName="latitude" required>
						</mat-form-field>

						<mat-form-field>
							<input type="number" min="-180" max="180" matInput placeholder="Longitude"
								formControlName="longitude" required>
						</mat-form-field>

						<div *ngIf="error" class="alert alert-warning" role="alert">
							{{message}}
						</div>

						<button type="submit" class="btn btn-success"
							[disabled]="!form.valid || submitted">Save</button>

						<span *ngIf="submitted">
							<mat-spinner [diameter]="44"></mat-spinner>
						</span>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>