<div class="main-content">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<img [src]="image" class="card-img-top" alt="Cover photo" (click)="file.click()" title="Cover photo">
				<input type="file" accept="image/*" id="layout" #file name="image" hidden (change)="onFileLoad($event)"
					required>
				<div class="card-header">
					<h3>New manifestation</h3>
				</div>
				<div class="card-body">
					<form (ngSubmit)="onSubmit()" [formGroup]="form">
						<mat-form-field>
							<input matInput placeholder="Name" formControlName="name" required>
						</mat-form-field>

						<mat-form-field>
							<input matInput placeholder="Description" formControlName="description" required>
						</mat-form-field>

						<mat-form-field>
							<mat-label>Location</mat-label>
							<mat-select formControlName="location" required
								(selectionChange)="onLocationChange($event)">
								<mat-option>None</mat-option>
								<mat-option *ngFor="let location of locations" [value]="location.locationId">
									{{location.name}}, {{location.address}}</mat-option>
							</mat-select>
						</mat-form-field>

						<mat-form-field>
							<input matInput placeholder="Start date" type="datetime-local" required
								formControlName="startDate">
						</mat-form-field>

						<mat-form-field>
							<input matInput placeholder="End date" type="datetime-local" required
								formControlName="endDate">
						</mat-form-field>

						<div formGroupName="daysGroup">
							<mat-checkbox formControlName="reservationAllowed" color="primary"
								(change)="toggleDaysInput()">
								Reservations
							</mat-checkbox>
							<mat-form-field>
								<input type="number" min="1" matInput placeholder="Days before reservation expires"
									formControlName="daysBeforeExpires" required>
							</mat-form-field>
						</div>

						<mat-form-field>
							<mat-label>Category</mat-label>
							<mat-select formControlName="category" required>
								<mat-option>None</mat-option>
								<mat-option value="CULTURE">Culture</mat-option>
								<mat-option value="SPORT">Sport</mat-option>
								<mat-option value="ENTERTAINMENT">Entertainment</mat-option>
							</mat-select>
						</mat-form-field>

						<div *ngIf="layoutCreated">
							<mat-divider></mat-divider>
							<h4 style="margin-top: 10px;">Layout</h4>
							<div formArrayName="categories" *ngFor="let cg of categories.controls; let i = index">
								<div [formGroupName]="i">
									<mat-checkbox formControlName="checked" color="primary" (change)="toggleInputs(cg)">
										{{selectedLocation.categories[i].name}}
									</mat-checkbox>
									<mat-form-field>
										<input type="number" min="0" matInput
											placeholder="Ticket price for {{selectedLocation.categories[i].name}}"
											formControlName="ticketPrice" required>
									</mat-form-field>
									<mat-form-field *ngIf="!selectedLocation.categories[i].enumerable">
										<input type="number" min="1" matInput
											placeholder="Number of places for {{selectedLocation.categories[i].name}}"
											required formControlName="numberOfSeats">
									</mat-form-field>
								</div>
							</div>
						</div>

						<div *ngIf="error" class="alert alert-warning" role="alert">
							{{message}}
						</div>

						<button type="submit" class="btn btn-success"
							[disabled]="!form.valid || submitted || !imageUploaded">Add</button>

						<span *ngIf="submitted">
							<mat-spinner [diameter]="44"></mat-spinner>
						</span>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>