<div class="main-content">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card text-center align-self-center">
                <img class="card-img-top img-responsive" [src]="url" style="height:200px" alt="Profile picure">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <input type="file" name="my-image" id="image" accept="image/gif, image/jpeg, image/png" (change)="onSelectFile($event)"/>
                        </li>
                        <li class="list-group-item">
                            <button name="edit-profile" class="btn btn-primary btn-block" [ngClass]="{'clicked': showEditProfile}" (click)="showEdit()">Edit profile</button>
                        </li>
                        <li class="list-group-item">
                            <button name="change-password" class="btn btn-primary btn-block" [ngClass]="{'clicked': showChangePassword}" (click)="showPasswordChange()">Change password</button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div *ngIf="showChangePassword" class="col-lg-6 col-md-6 align-self-center">
            <!-- Card -->
            <div class="card d-flex">
                <form class="col-md-12 box" [formGroup]="changePasswordForm" (ngSubmit)="saveChangedPassword()">
                    <fieldset>
                      <legend [ngStyle]="{'text-align': 'center'}">Change password</legend>
            
                      <div class="form-group row">
                        <label for="oldPassword" class="control-label col-md-3"><b>Old password:</b></label>
                        <div class="col-md-9">
                          <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Old password" [formControl]="changePasswordForm.controls['oldPassword']">
                          <small class="text-danger"  *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.errors?.required">
                            This field can't be empty!</small>
                        </div>
                      </div>
            
                      <div class="form-group row">
                        <label for="newPassword" class="control-label col-md-3"><b>New password:</b></label>
                        <div class="col-md-9">
                          <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password" [formControl]="changePasswordForm.controls.newPassword">
                          <small class="text-danger"  *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.errors?.required">
                            This field can't be empty!</small>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="repeatedPassword" class="control-label col-md-3"><b>Repeated password:</b></label>
                        <div class="col-md-9">
                          <input type="password" class="form-control" id="repeatedPassword" name="repeatedPassword" placeholder="New password" [formControl]="changePasswordForm.controls.repeatedPassword">
                          <small class="text-danger"  *ngIf="changePasswordForm.controls.repeatedPassword.touched && changePasswordForm.controls.repeatedPassword.errors?.required">
                            This field can't be empty!</small>
                        </div>
                      </div>
            
                      <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                          <button type="submit" name="save" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Save changes</button>
                        </div>
                      </div>
            
                    </fieldset>
                  </form>
            </div>
            <!-- Card -->
        </div>
        <div *ngIf="showEditProfile" class="col-lg-6 col-md-6 align-self-center">
            <!-- Card -->
            <div class="card d-flex">
                <form class="col-md-12 box" [formGroup]="editForm" (ngSubmit)="saveEdited()">
                    <fieldset>
                      <legend [ngStyle]="{'text-align': 'center'}">Edit profile</legend>
            
                      <div class="form-group row">
                        <label for="firstName" class="control-label col-md-3"><b>First name:</b></label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" [formControl]="editForm.controls['firstName']">
                          <small id="firstNameError" class="text-danger"  *ngIf="editForm.controls.firstName.touched && editForm.controls.firstName.errors?.required">
                            This field can't be empty!</small>
                        </div>
                      </div>
            
                      <div class="form-group row">
                        <label for="lastName" class="control-label col-md-3"><b>Last name:</b></label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" [formControl]="editForm.controls.lastName">
                          <small class="text-danger"  *ngIf="editForm.controls.lastName.touched && editForm.controls.lastName.errors?.required">
                            This field can't be empty!</small>
                        </div>
                      </div>
            
                      <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                          <button type="submit" name="save" class="btn btn-primary" [disabled]="!editForm.valid">Save changes</button>
                        </div>
                      </div>
            
                    </fieldset>
                  </form>
            </div>
            <!-- Card -->
        </div>
    </div>
</div>