<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header">
						<app-map *ngIf="location" [mapid]="location.locationId + location.name"
							[lat]="location.latitude" [lon]="location.longitude">
						</app-map>
					</div>
					<div class="card-body">
						<h3 class="card-title">{{location?.name}}</h3>
						<p class="card-text">Address: {{location?.address}}</p>
						<div *ngIf="manifestations.length > 0">
							<h5>Upcoming manifestations</h5>
							<div class="row">
								<div class="col-sm-4 col-lg-3" *ngFor="let manifestation of manifestations">
									<div class="card">
										<a [routerLink]="['/manifestations', manifestation.id]" class="text-center">
											<img class="card-img-top img-responsive" [src]="manifestation.image"
												alt="Cover photo">
										</a>
										<div class="card-body">
											<a [routerLink]="['/manifestations', manifestation.id]">
												<div>
													<h4 class="card-title">{{manifestation.name}}</h4>
													<p class="card-text">
														{{manifestation.startDate | date:'dd.MM.yyyy'}}
														<span
															*ngIf="(manifestation.startDate | date:'dd.MM.yyyy') != (manifestation.endDate | date:'dd.MM.yyyy')">
															-
															{{manifestation.endDate | date:'dd.MM.yyyy'}}</span>
													</p>
												</div>
											</a>
											<div *ngIf="roleAdmin()">
												<button class="btn btn-info"
													[routerLink]="['/manifestations/edit', manifestation.id]"
													title="Edit"><i class="material-icons">edit</i></button>
												<button class="btn btn-danger" (click)="onCancel(manifestation.id)"
													title="Cancel"><i class="material-icons">cancel</i></button>
												<button class="btn btn-dark"
													[routerLink]="['/reports/manifestation', manifestation.id]"
													title="Reports">
													<i class="material-icons">bar_chart</i></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<mat-paginator *ngIf="count > 0" [length]="count" [pageSize]="pageSize"
									[pageSizeOptions]="pageSizeOptions" (page)="pageEvent = getManifestations($event)">
								</mat-paginator>
							</div>
						</div>
					</div>
					<div *ngIf="manifestations.lenght == 0" style="text-align: center;">
						<h4>There are no events yet for this location.</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>