<div class="main-content">
	<button *ngIf="roleAdmin()" class="btn btn-success" title="New" routerLink="/locations/new"><i
			class="material-icons">add</i></button>
	<div class="containter-fluid">
		<div class="row">
			<div class="col-sm-4 col-lg-3" *ngFor="let location of locations">
				<div class="card">
					<div class="card-body">
						<a [routerLink]="['/location', location.locationId]">
							<div>
								<h4 class="card-title">{{location.name}}</h4>
								<p class="card-text">{{location.address}}</p>
							</div>
						</a>
						<!-- <button class="btn btn-primary" [routerLink]="['/locations', location.locationId]"
							title="More">More</button> -->
						<div *ngIf="roleAdmin()">
							<button class="btn btn-info" [routerLink]="['/locations/edit', location.locationId]"
								title="Edit"><i class="material-icons">edit</i></button>
							<button [disabled]="location.manifestationCount != 0" class="btn btn-danger"
								(click)="onDelete(location.locationId)" title="Delete"><i
									class="material-icons">delete</i></button>
							<button class="btn btn-dark" [routerLink]="['/reports/location', location.locationId]"
								title="Reports">
								<i class="material-icons">bar_chart</i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="count == 0" style="text-align: center;">
			<h4>There are no locations yet.</h4>
		</div>
		<mat-paginator *ngIf="count > 0" [length]="count" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
			(page)="pageEvent = getLocations($event)">
		</mat-paginator>
	</div>
</div>