<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <ngb-tabset type="pills" [activeId]="activeTab" (tabChange)="checkTickets()">
                                <ngb-tab [attr.id]="tab.id" *ngFor="let tab of tabs">
                                    <ng-template ngbTabTitle>
                                        <span>{{ tab.title }}</span>
                                    </ng-template>
                                <ng-template *ngIf="tab.title == 'Info' || permission == false; else tickets" ngbTabContent>
                                        <app-manifestation-info [manifestation]="manifestation" [datesToShow] = "datesToShow"></app-manifestation-info>
                                    </ng-template>
                                    <ng-template #tickets ngbTabContent>
                                        <app-ticket-sales [categories] = "categories" [dates]="dates" (optionSelected)="chooseDate($event)"></app-ticket-sales>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>