::ng-deep .nav-fill .nav-link.active {
    margin-top: -1px;
    border-top: 2px solid #20a8d8;
    color: yellow;
}

::ng-deep a {
  color: purple;
}

::ng-deep a:hover {
  color: red;
}

::ng-deep .nav-pills a.nav-link.active, 
::ng-deep .nav-pills .show > a.nav-link,
::ng-deep .card-header .card-header-danger {
    color: #fff;
    background-color:blue   ;
}

div.main-content {
  margin-top: 10px;
}