<div mat-dialog-content>
  <mat-form-field>
    <button 
    mat-button 
    mat-icon-button 
    matPrefix 
    aria-label="Remove" 
    [color]="getColor()" 
    (click)="incrementValue(-1)" 
    [disabled]="shouldDisableDecrement(data)">
    <mat-icon>remove</mat-icon>
  </button>
  <input matInput type="number" [(ngModel)]="data" (focus)="setColor('primary')" (blur)="setColor('default')" />
  <button 
    mat-button 
    mat-icon-button 
    matSuffix
    aria-label="Add" 
    [color]="getColor()" 
    (click)="incrementValue(1)" 
    [disabled]="shouldDisableIncrement(data)">
    <mat-icon>add</mat-icon>
  </button>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>

</div>