<div class="main-content">
    <div class="row">
        <div class="col-lg-3 col-md-6" *ngFor="let reservation of reservations">
            <!-- Card -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a class="nav-link" routerLink="/manifestations/{{reservation.manifestationId}}">
                            {{reservation.manifestationName}}
                        </a>
                    </h4>
                    <p class="card-text">Seat: {{reservation.seatCategoryName}}<span *ngIf="reservation.row > 0">,
                            {{reservation.row}}-{{reservation.column}}</span>
                        <br />Start: {{reservation.startDate | date :'dd/MM/yyyy h:mm'}}
                        <br />End: {{reservation.endDate | date :'dd/MM/yyyy h:mm'}}</p>
                    <a class="btn btn-success" (click)="completePayment(reservation.ticketId)">Complete payment</a>
                    <a class="btn btn-danger" (click)="cancelButton([reservation.ticketId])">Cancel reservation</a>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
</div>