<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <div *ngIf="this.router.url.startsWith('/manifestations?') || this.router.url === '/manifestations'" class="collapse navbar-collapse justify-content-around w-100" id="search">
            <form class="navbar-form w-75">
                <div class="input-group no-border">
                    <input type="text" name="search" value="" class="form-control" placeholder="Search manifestations">
                    <button id="search-submit" mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
        </div>
        <div class="collapse navbar-collapse justify-content-end w-25" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="material-icons">dashboard</i>
                        <p>
                            <span class="d-lg-none d-md-block">Stats</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="loggedIn()" href="javascript:void(0)">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="material-icons" (click)="editProfile()"> person</i>
                        <p id="aaaa">
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="loggedIn()">
                    <button class="btn btn-round" style="background-color: purple;" (click)="logout()">Logout</button>
                </li>
                <li class="nav-item" *ngIf="!loggedIn()">
                    <button class="btn btn-round" style="background-color: purple;" (click)="login()">Log In</button>
                </li>
                <li class="nav-item" *ngIf="!loggedIn()">
                    <button class="btn btn-round" style="color: purple; background-color: floralwhite;" (click)="register()">Sign up</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

