<div class="card" id="right">
    <img mat-card-image [src]="manifestation?.image" alt="Photo of a Shiba Inu">
</div>
<div class="card-body" id="left">
    <div class="row">
        <div class="tim-typo">
            <h6>
                <span class="tim-note">Name</span>{{manifestation?.name}} </h6>
        </div>
        <div class="tim-typo">
            <h6>
                <span class="tim-note">Location</span>{{manifestation?.location.name}} </h6>
        </div>
        <div class="tim-typo">
            <h6>
                <span class="tim-note">Address</span>{{manifestation?.location.address}} </h6>
        </div>
        <div class="tim-typo" [ngSwitch]="datesToShow?.length">
            <h6 *ngSwitchCase="1">
                <span class="tim-note">Date</span>{{datesToShow | date:'dd/MM/yyyy HH:mm'}} </h6>
            <h6 *ngSwitchCase="2">
                <span class="tim-note">Date</span>{{datesToShow[0] | date:'dd/MM/yyyy'}} -
                {{datesToShow[1] | date:'dd/MM/yyyy'}} </h6>
            <h6 *ngSwitchDefault>
                <span class="tim-note">Date</span>Unknow</h6>
        </div>

        <div class="tim-typo">
            <h6>
                <span class="tim-note">State</span>{{manifestation?.manifestationState}} </h6>
        </div>
        <div class="tim-typo">
            <h6>
                <span class="tim-note">Category</span>{{manifestation?.manifestationCategory}} </h6>
        </div>
        <div class="tim-typo">
            <h6>
                <span class="tim-note">Description</span>{{manifestation?.description}} </h6>
        </div>
    </div>
</div>