<div class="main-content">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h3>New location</h3>
				</div>
				<div class="card-body">
					<form (ngSubmit)="onSubmit()" [formGroup]="form">
						<mat-form-field>
							<input matInput placeholder="Name" formControlName="name" required>
						</mat-form-field>

						<mat-form-field>
							<input matInput placeholder="Address" formControlName="address" required>
						</mat-form-field>

						<mat-form-field>
							<input type="number" min="-90" max="90" matInput placeholder="Latitude"
								formControlName="latitude" required>
						</mat-form-field>

						<mat-form-field>
							<input type="number" min="-180" max="180" matInput placeholder="Longitude"
								formControlName="longitude" required>
						</mat-form-field>

						<div class="form-group">
							<label for="layout">Layout</label>
							<input type="file" accept="application/JSON" id="layout" #file name="layout" hidden
								(change)="onFileLoad($event)" required>
							<button type="button" class="btn btn-primary" (click)="file.click()"
								style="margin-left: 20px;"><i class="material-icons">add</i></button>
							<label *ngIf="layout" style="margin-left: 20px;">You have selected layout:
								{{layoutName}}</label>
						</div>

						<div *ngIf="error" class="alert alert-warning" role="alert">
							{{message}}
						</div>

						<button type="submit" class="btn btn-success"
							[disabled]="!form.valid || !layout || submitted">Add</button>

						<span *ngIf="submitted">
							<mat-spinner [diameter]="44"></mat-spinner>
						</span>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>